html {
  background-color: #282c34;
  color: white;
}
footer {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .footer-row {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    .fa-heart {
      color: rgb(221, 0, 0);
    }
    .fa-react {
      color: rgb(0, 186, 248);
    }
    a {
      color: white;
      text-decoration: underline;
      & :visited {
        text-decoration: underline;
        color: white;
      }
    }
  }
}

.App {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  .App-header {
    position: relative;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 25vh;
  }
  .game-area {
    display: flex;
    flex-direction: row;
    border: solid 1px lightgrey;
    padding: 1em;
    margin: 1em;
    gap: 1em;
    width: 80vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    .card {
      $size: min(calc(40vw - 0.5em), 50vh);
      border: solid 1px grey;
      border-radius: 50%;
      width: $size;
      height: $size;
      position: relative;
    }
  }
  .card-container {
    display: flex;
    width: 90vw;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    .card {
      $card-size: 6em;
      position: relative;
      border: solid 2px grey;
      width: $card-size;
      height: $card-size;
      border-radius: 50%;
    }
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      pointer-events: all;
    }
  }
}
