html {
  background-color: #282c34;
  color: white;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .footer-row {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    .fa-heart {
      color: rgb(221, 0, 0);
    }
    .fa-react {
      color: rgb(0, 186, 248);
    }
    a {
      color: white;
      text-decoration: underline;
      & :visited {
        text-decoration: underline;
        color: white;
      }
    }
  }
}

.App {
  min-height: 80vh;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  .App-header {
    position: relative;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 25vh;
  }
  .game-area {
    display: grid;
    grid-template-areas:
      "g-head g-head g-head"
      "card-a . card-b"
      "g-foot g-foot g-foot";
    border: solid 1px lightgrey;
    padding: 1em;
    column-gap: 0.5em;
    row-gap: 5px;
    width: min(80vw, 800px);
    margin-bottom: 1em;
    .game-head {
      grid-area: g-head;
      display: flex;
      justify-content: center;
    }
    .game-foot {
      grid-area: g-foot;
      display: flex;
      justify-content: flex-end;
      font-size: x-small;
    }
    .card {
      aspect-ratio: 1;
      border: solid 1px grey;
      display: flex;
      flex-flow: row wrap;
      flex-grow: 1;
      align-items: stretch;
      &:nth-of-type(1) {
        grid-area: card-a;
      }
      &:nth-of-type(2) {
        grid-area: card-b;
      }
      .icon {
        width: 33%;
      }
    }
  }
  .card-container {
    display: flex;
    width: 90vw;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    .card {
      $card-size: 6em;
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      border: solid 1px grey;
      width: $card-size;
      height: $card-size;
    }
  }
  .icon {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      pointer-events: all;
    }
  }
}
